<button id="{{id}}" {{action 'showLoading'}} class="btn btn-success">
    {{#if isLoading}}
        <img src="http://i639.photobucket.com/albums/uu116/pksjce/spiffygif_18x18.gif">
    {{else}}
        Save
    {{/if}}
</button>