    <article>
    <section>
        <div class="disappear">
            <div class="space"></div>
            <div class="menuopen">
                &#9776; <span style="font-size:17px;">Sort</span>
            </div>
            <div class="menu">

                <div class="centerit">
                    <ul>
                        <h3>View</h3>
                        <li><a href="#">Active</a></li>
                        <li><a href="#">Archives</a></li>
                        <li><a href="#">Cancelled</a></li>
                        <li><a href="#">Etc.</a></li>
                    </ul>
                    <ul>
                        <h3>Sort By</h3>
                        <li><a href="#">A-Z</a></li>
                        <li><a href="#">End Date</a></li>
                        <li><a href="#">Start Date</a></li> 
                        <li><a href="#">Etc.</a></li>
                    </ul>
                </div>
            </div>
            <div class="fancy"></div>
        </div>
        <ul class="project-list">
                <strong>
                {{#each model as |status|}}
                <li class="list-group-item" {{action 'detail' status}}>{{status.title}} #{{status.id}}
                    <div title="Edit Status" class="pencil">
                        {{#link-to 'status.detail.edit' model.id}}&#9998;{{/link-to}}
                    </div>
                </li>
                {{/each}}
                <li class="list-group-item pointed-at">Filler</li>
                <li class="list-group-item pointed-at">Filler</li>
                <li class="list-group-item pointed-at">Filler</li>
                <li class="list-group-item pointed-at">Filler</li>
            </strong>
        </ul>
        <div class="disappear2">
            <div class="sidebar">
                <h3><b>Quick Links</b></h3>
                <b>View</b>
                <ul>
                    <li><a href="#">Active</a></li>
                    <li><a href="#">Archives</a></li>
                    <li><a href="#">Cancelled</a></li>
                    <li><a href="#">Postponed</a></li>          
                    <li><a href="#">Etc.</a></li>
                </ul>
                <b>Sort By</b>
                <ul>
                    <li><a href="#">A-Z</a></li>
                    <li><a href="#">End Date</a></li>
                    <li><a href="#">Start Date</a></li>         
                    <li><a href="#">Etc.</a></li>
                </ul>
            </div>
    </div>
</section>
</article>
<script>
    $(document).ready(function(){

    $('.menu').toggle(1);
    $('.space').toggle(1);

    $(".menuopen").click(function(){
    $('.menu').slideToggle();
    $('.space').slideToggle();
    });
    });
</script>
{{outlet}}