<article>
    <section>
        <ul class="list-group">
            {{#each status in model}}
                {{#link-to 'status.detail' status.id}}Status #{{status.id}}{{/link-to}}
            {{/each}}
        </ul>
    </section>
</article>
{{outlet}}
