
<header>
	<div class="disappear">
	<div class="menuopen">
	<div id="slideToggle">
	<button class="button-secondary pure-button pure-button-active">
		&#9776;
	</button>
	</div>
	</div>
	</div>
   <h1 id="title" class="pointed-at" {{action 'home'}}>Status Hub</h1>
</header>
<div class="container">
{{outlet}}
</div>
<script type="text/javascript">
    $("#slideToggle").click(function(){
    $('.menu').toggle("right");
    });
</script>