<div class="col-md-3">
<article>
    <section>
        <ul class="list-group">
            {{#each model as |status|}}
                <li class="list-group-item pointed-at" {{!-- {{action 'detail' status}} --}}>{{#link-to 'status.detail.edit' status.id}}{{status.title}} #{{status.id}}{{/link-to}}</li>
            {{/each}}
        </ul>
    </section>
</article>
</div>
<div class="col-md-9">
{{liquid-outlet}}
</div>
